extends layout

block content
  h1= title
  p Welcome to #{title}
  each data in agentData
      p name: #{data.name} 
      p deets: #{data.details} 
      p telephone: #{data.telephone}
      p email: #{data.email}
      p address: #{data.address}
      p membership: #{data.membership}
      p directors: #{data.directors}      

