extends layout

block content
  h1= title
  p Welcome to #{title}
  each data in agentData
      p name: #{data.name} 
      p details: #{data.details} 
      p telephone: #{data.telephone}
      p email: #{data.email}
      p address: #{data.address}
      p membership: #{data.membership}
      p additional info: #{data.additional_information}
      p additional contacts: #{data.additional_contacts}
      p authors: #{data.authors}
      p directors: #{data.directors}  
      p agents: #{data.agents}    
      p website: #{data.website}   

